//- extends layout.pug
   
//- block content
//-   section#content
//-     if !message
//-       h2 Sum of integers from 1 to #{number} is #{sum}
//-     else  
//-       h2 #{message}
if !message
  p #{sum}
else  
  p #{message}